body {
   background-color: lightslategray;
}

#nav {
   margin: 0;
   padding: 0;
}

#nav li {
   display: inline;
   padding: 0;
   margin: 0;
}

#memento {
   font-size: 2.5rem;
   font-style: oblique;
   text-align: center;
   color: white;
   text-shadow: 3px 3px rgb(55, 68, 109);
}

#nav a:link,
#nav a:visited {
   color:  rgb(55, 68, 109);
   background: white;
   padding: 20px 90px;
   border: solid grey 0.2rem;
   max-width: 100%;
}

.Titlemain {
   text-align: center;
   text-decoration: underline lightgray;
   text-shadow: 2px 2px rgb(55, 68, 109);
}

main {
   color: white;
}